.header {
    position: relative;
    min-height: 100vh;
    padding: $spacing-lg 0;
    overflow: hidden;
    background-image: url("./../img/my-photo-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        background: linear-gradient(
            90deg,
            rgb(0 0 0 / 100%) 0%,
            rgb(255 255 255 / 0%) 100%
        );
    }

    &__inner {
        position: relative;
        z-index: 1;
    }

    &__top {
        display: flex;
        flex-wrap: wrap;
        gap: $spacing-sm;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
    }

    & .logo__text {
        fill: $primaryText;
    }

    &__download-btn {
        font-weight: 500;
    }

    &__bottom {
        max-width: 60%;
        margin-top: 20vh;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: $spacing-sm;
    }

    &__hello {
        font-size: get-font-size(50, 96);
        font-weight: 600;
        color: $accentColor;
    }

    &__title {
    }

    &__desc {
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: $spacing-md;
    }

    &__hire-btn {
    }

    &__contact-btn {
        color: #000;
        background-color: $primaryText;

        &:hover {
            color: $accentColor;
        }
    }
}
