.main {
    color: $secondaryText;
}

/* ======================================== about ======================================== */
.about {
    &__inner {
        display: grid;
        grid-template-rows: auto auto 1fr;
        grid-template-columns: 1fr 1fr;
        gap: $spacing-sm;
    }

    &__img-block {
        grid-row: 1/4;
        grid-column: 1;
    }

    &__img {
    }

    &__title {
        grid-row: 1;
        grid-column: 2;
    }

    &__desc {
        grid-row: 2;
        grid-column: 2;
    }

    &__skills {
        grid-row: 3;
        grid-column: 2;
    }
}

.skill {
    &__group {
        padding-bottom: get-size(10, 32);
    }

    &__title {
        margin-bottom: get-size(10, 32);
    }

    &__empty-line {
        position: relative;
        z-index: 1;
        width: 100%;
        height: get-size(8, 20);
        background-color: $lightPrimaryColor;
        border: $skillLineBorderWidth solid $accentColor;
    }

    &__filled-line {
        position: absolute;
        top: -$skillLineBorderWidth;
        right: -$skillLineBorderWidth;
        bottom: -$skillLineBorderWidth;
        left: -$skillLineBorderWidth;
        z-index: 2;
        background-color: $accentColor;
        border: $skillLineBorderWidth solid $accentColor;
    }

    &__circle {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 3;
        width: get-size(12, 25);
        height: get-size(12, 25);
        background-color: $lightPrimaryColor;
        border: $skillLineBorderWidth solid $accentColor;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }
}

.ux-line {
    width: $uxSkillLineFill;
}

.app-line {
    width: $appSkillLineFill;
}

.graphic-line {
    width: $graphicSkillLineFill;
}

.web-line {
    width: $webSkillLineFill;
}

.ux-circle {
    left: $uxSkillLineFill;
}

.app-circle {
    left: $appSkillLineFill;
}

.graphic-circle {
    left: $graphicSkillLineFill;
}

.web-circle {
    left: $webSkillLineFill;
}

/* ======================================== services ======================================== */

.services {
    &__inner {
    }

    &__title {
        margin-bottom: $spacing-sm;
        text-align: center;
    }

    &__desc {
        margin-bottom: $spacing-md;
        text-align: center;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: $spacing-sm;
        justify-content: space-evenly;
    }

    &__card {
    }
}

.service-card {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: get-size(10, 30);
    max-width: 300px;
    padding: $spacing-xs;
    color: #000;
    background-color: $lightPrimaryColor;
    border-radius: 10px;
    transition: rotate 0.8s ease-out 0.3s;

    @media (hover: hover) {
        &:hover {
            transition: rotate 0.3s ease-out 0s;
            rotate: 6deg;
        }

        &:nth-child(even) {
            &:hover {
                rotate: -6deg;
            }
        }
    }

    &__icon {
        padding-bottom: get-size(50, 100);
        padding-left: get-size(50, 100);
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__title {
    }

    &__desc {
    }
}

.ux-icon {
    background-image: url("../img/icons/ux.svg");
}

.app-icon {
    background-image: url("../img/icons/app.svg");
}

.graphic-icon {
    background-image: url("../img/icons/graphics.svg");
}

.web-icon {
    background-image: url("../img/icons/web.svg");
}

/* ======================================== projects ======================================== */

.projects {
    &__inner {
    }

    &__title {
        margin-bottom: $spacing-sm;
        text-align: center;
    }

    &__desc {
        margin-bottom: $spacing-md;
        text-align: center;
    }

    &__filter {
        margin-bottom: $spacing-sm;
    }

    &__results {
        display: flex;
        flex-wrap: wrap;
        gap: $spacing-sm;
        justify-content: center;
    }

    &__card {
    }
}

.filter {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: auto;

    &__btn {
        padding: 10px;
        font-weight: 500;
        cursor: pointer;
        background-color: $lightPrimaryColor;
        border: 1px solid $lightPrimaryColor;
        border-radius: 4px;

        &._active {
            color: $primaryText;
            background-color: $accentColor;
        }

        @media (hover: hover) {
            &:hover {
                border-color: $accentColor;
            }
        }
    }
}

.project-card {
    width: 100%;
    max-width: 300px;
    max-height: 350px;

    &__img {
        & > img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }
}

/* ======================================== testimonials ======================================== */

.testimonials {
    color: $lightPrimaryColor;
    background-color: $darkPrimaryColor;

    &__inner {
    }

    &__title {
        margin-bottom: $spacing-sm;
        text-align: center;
    }

    &__desc {
        margin-bottom: $spacing-md;
        text-align: center;
    }

    &__slider-container {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto 1fr auto;
        gap: $spacing-sm;
    }

    &__slider {
    }
}

.slider {
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    height: fit-content;
    margin: $spacing-xs auto;

    &__wrap {
        padding-top: $testimonialsSpacing + 20px;
    }

    &__slide {
    }

    &__pagination {
        position: relative;
        grid-row: 2;
        grid-column: 1/4;

        & > .swiper-pagination-bullet {
            width: 40px;
            height: 8px;
            background-color: #fff;
            border-radius: 4px;
            opacity: 1;
        }

        & > .swiper-pagination-bullet-active {
            background-color: #ff8484;
        }
    }

    &__btn-prev {
        position: relative;
        left: 0;
        grid-row: 1;
        grid-column: 1;
        max-width: 24px;
        max-height: 24px;
        padding: 4px;
        background-color: $lightPrimaryColor;
        border-radius: 50%;

        &::after {
            font-size: 1rem;
            color: #000;
            content: "▶";
            transform: scale(-1, 1);
        }
    }

    &__btn-next {
        position: relative;
        right: 0;
        grid-row: 1;
        grid-column: 3;
        max-width: 24px;
        max-height: 24px;
        padding: 4px;
        background-color: $lightPrimaryColor;
        border-radius: 50%;

        &::after {
            font-size: 1rem;
            color: #000;
            content: "▶";
        }
    }
}

.slide {
    display: flex;
    font-size: get-font-size(16, 18);
    line-height: 130%;
    color: $primaryText;

    &__wrap {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: get-size(80, 100) 20px 20px 20px;
        border: 1px solid $secondaryText;
        border-radius: 20px;
    }

    &__img-container {
        position: absolute;
        top: 0;
        left: 50%;
        padding: 4px;
        overflow: hidden;
        background: linear-gradient(
            0deg,
            rgb(255 255 255) 0%,
            $darkPrimaryColor
        );
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }

    &__img {
        & > img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    &__text {
    }

    &__rating {
        margin-top: auto;
    }
}

.rating {
    position: relative;
    display: flex;
    width: fit-content;
    font-size: 26px;

    &::before {
        position: absolute;
    }

    &__active {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        &::before {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: $lightPrimaryColor;
            content: "★★★★★";
        }
    }

    &__items {
        display: flex;
    }

    &__item {
        color: #ff8484;
    }
}

/* ======================================== contact ======================================== */

.contact {
    color: $lightPrimaryColor;
    background-color: $darkPrimaryColor;

    &__inner {
    }

    &__title {
        margin-bottom: $spacing-sm;
        text-align: center;
    }

    &__desc {
        margin-bottom: $spacing-md;
        text-align: center;
    }

    &__form {
    }
}

.contact-form {
    &__group {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: $spacing-sm;
        justify-content: center;
    }

    &__email {
        width: 100%;
        max-width: 630px;
        padding: get-size(15, 30);
        color: #000;
        background-color: #fff;
        border: 1px solid $lightPrimaryColor;

        &:focus {
            border-color: $secondaryText;
            outline: none;
        }
    }

    &__btn {
        position: relative;
        z-index: 2;
        padding: get-size(15, 30) get-size(30, 60);
        font-weight: 600;
        color: $darkPrimaryColor;
        cursor: pointer;
        background-color: #fff0;
        border: 1px solid $lightPrimaryColor;
    }

    &__btn-wrap {
        position: relative;
        display: flex;
        background-color: $lightPrimaryColor;

        @media (hover: hover) {
            &:hover {
                .contact-form__btn-inner {
                    width: 100%;
                    visibility: visible;
                }
            }
        }
    }

    &__btn-inner {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 0%;
        height: 100%;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        visibility: hidden;
        background-color: $accentColor;
        transition: all 0.8s ease-out 0s;

        & > span {
            position: absolute;
            z-index: 4;
            display: flex;
            align-items: center;
            height: 100%;
            padding: get-size(15, 30) get-size(30, 60);
            font-weight: 600;
            color: $primaryText;
            border: 1px solid $primaryText;
        }
    }

    &__message {
        position: absolute;
        top: 110%;
        padding: $spacing-xs;
        font-size: 16px;
        font-style: italic;
        color: #000;
        background-color: $lightPrimaryColor;
        opacity: 0;

        &.valid {
            color: green;
            opacity: 1;
        }

        &.invalid {
            color: red;
            opacity: 1;
        }
    }
}
