.social {
    color: $textIcons;

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: get-size(20, 30);
        justify-content: center;
    }

    &__item {
    }

    &__link {
        font-size: 24px;

        &:hover {
            color: $secondaryText;
        }
    }
}

.icon-facebook {
}

.icon-twitter {
}

.icon-instagram {
}

.icon-linkedin {
}
