$maxViewport: 1920;
$minViewport: 320;
$container: 1420px;
$containerPadding: 10px;

/* SCROLLBAR */
$scrollbarWidth: 10px;
$scrollbarBorderRadius: 4px;

/* SPACINGS */
$spacing-xs: 1rem; // 16px
$spacing-sm: 2rem; // 32px
$spacing-md: 3rem; // 48px
$spacing-lg: 4rem; // 64px
$spacing-xl: 8rem; // 128px

/* FONT */
$htmlFontSize: 16px;
$mainFontFamily: "Montserrat";
$mainFontSize: get-font-size(16, 24);
$mainFontStyle: normal;
$mainFontWeight: 400;
$mainLineHeight: 1;

// ---
$uxSkillLineFill: 90%;
$appSkillLineFill: 80%;
$graphicSkillLineFill: 95%;
$webSkillLineFill: 85%;
$skillLineBorderWidth: 1px;
