._anim-item {
    opacity: 0;
}

._anim-active {
    opacity: 1;
    transition:
        transform 0.8s ease 0s,
        opacity 0.8s ease 0s;
}

/* приклад приклад приклад */

// .header {
//     overflow: hidden;

//     &__logo {
//         &._anim-item {
//             transform: translate(0, 300%);
//         }

//         &._anim-active {
//             transform: translate(0, 0);
//         }
//     }

//     @for $i from 1 through 6 {
//         &__navigations._anim-item .menu__item:nth-child(#{$i}) {
//             transform: translate(0, 300%);
//         }

//         &__navigations._anim-active .menu__item:nth-child(#{$i}) {
//             transition:
//                 transform 0.8s ease 0s + calc($i / 10),
//                 opacity 0.8s ease 0s + calc($i / 10);
//             transform: translate(0, 0);
//         }
//     }

//     &__btn {
//         &._anim-item {
//             transform: translate(0, 300%);
//         }

//         &._anim-active {
//             transition:
//                 transform 0.8s ease 0.7s,
//                 opacity 0.8s ease 0.7s;
//             transform: translate(0, 0);
//         }
//     }
// }
